body {
  background-color: #000;
  color: #fff;
}

#header {
  height: 150px;
  width: 100%;
  background-color: #fff;
  position: fixed;
    top: 0px;
    right: 1px;
  z-index: 20;
}

.mainBody {
  height: 1500px;
  width: 1350px; /*adjust */
  z-index: 0;
}

.games {
  height: 550px;
  width: 100%;
  border: 4px dashed gray;
  position: relative;
    top: 300px;
  z-index: 1;
}

.gameOne {
  height: 400px;
  width: 400px;
  border: 3px dashed #fff;
  position: relative;
    top: 25px;
    left: 25px;
  margin: 5px;
  z-index: 2;
}

.gameTwo {
  height: 400px;
  width: 400px;
  border: 3px dashed #fff;
  position: absolute;
    top: 25px;
    left: 475px;
  margin: 5px;
  z-index: 2;
}

.gameThree {
  height: 400px;
  width: 400px;
  border: 3px dashed #fff;
  position: absolute;
    top: 25px;
    left: 925px;
  margin: 5px;
  z-index: 2;
}

.randomPlay {
  border-radius: 50%;
  width: 350px;
  height: 300px;
  border: 2px solid #fff;
  float: left;
  margin-top: 375px;
  margin-left: 50px;
  z-index: 3;
  text-align: center;
  padding-top: 50px;
}

.playerHistory {
  height: 400px;
  width: 500px;
  border: 5px solid gray;
  float: right;
  z-index: 3;
  margin-right: auto;
  margin-top: 350px;
}

.footer {
  color: #fff;
  clear: bottom;
  font-size: 15px;
  text-align: center;
}
